<ol class="list">
    <li *ngFor="let story of stories; let i=index">
        <div id="post" [ngStyle]="{'display': (i===slideIndex?'block':'none')}">
            <img (click)="onPause?startTimer():pauseTimer()" [src]="story.img">
        </div>
        <div id="lineTime">
            <hr [style]="'width:'+(100-(timeLeft*100)/timePerStory)+'%'">
        </div>
        <a id="storyHeader" [ngStyle]="{'display': (i===slideIndex?'flex':'none')}">
            <img [src]="user.pic">
            <p id="name">{{user.username}}</p>
            <a href="">
                <p id="back">x</p>
            </a>
        </a>
        
    </li>
</ol>
<!-- Next and previous buttons -->
<a class="prev" (click)="changeStory(-1)">&#10094;</a>
<a class="next" (click)="changeStory(1)">&#10095;</a>