#container{
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  background-color: burlywood;
  height: 10%;
  width: 100%;
}
a{
  display: flex;
  justify-content: center;
  padding: 2%;
}