<div id="profileContainer">
    <div id="topBar">
        <div id="info">
            <label for="profilePic">
                <img [src]="user.pic" >
            </label>
            <input *ngIf="isMyProfile()" type="file" id="profilePic" accept="image/*" hidden (change)="changeProfilePic($event)">
            <p>{{user.username}}</p>
        </div>
        <button (click)="logout()">Cerrar sesión</button>
    </div>
   
    <app-post-list [user]="user.id"></app-post-list>
</div>

<app-footer></app-footer>
