<p id="noPosts" *ngIf="posts.length===0">No posts to show yet :(</p>
<ol class="list">
    <li *ngFor="let post of posts">
        <a id="postHeader">
            <img [src]="post.user.pic">
            <p>{{post.user.username}}</p>
            <mat-icon *ngIf="isThisPostMine(post.user.id)" (click)="deletePost(post.id)">delete_forever</mat-icon>
        </a>
        <div id="post">
            <img [src]="post.img">
            <p>{{post.description}}</p>
        </div>
        <div id="like">
            <img (click)="like(post.id)" [src]="'/assets/images/'+(liked(post.id)?'like.png':'noLike.png')">
            <p [innerHTML]="getLikeListForHTML(post.id)"></p>
        </div>
    </li>
</ol>
<ng-content></ng-content>