<ol class="list">
    <li *ngFor="let post of posts">
        <a id="postHeader">
            <img [src]="user===undefined?post.user.pic:user.pic">
            <p>{{user===undefined?post.user.username:user.username}}</p>
        </a>
        <div id="post">
            <img [src]="post.img">
            <p>{{post.description}}</p>
        </div>
        <div id="like">
            <img (click)="like(post.id)" [src]="'/assets/images/'+(liked(post.id)?'like.png':'noLike.png')">
            <!-- <p>Liked by </p> -->
        </div>
    </li>
</ol>
<ng-content></ng-content>