<a href="">
    <mat-icon>keyboard_arrow_left</mat-icon>
</a>
<form (submit)="publish()">
    <textarea [(ngModel)]="newPost.description" [ngModelOptions]="{standalone: true}" placeholder="Say something about your pic!"></textarea>
    <div>
        <label for="image">
            Select Image <br/>
            <mat-icon>camera_alt</mat-icon>
            <input type="file" id="image" accept="image/*" (change)="newImage($event)" >
            <br/>
        </label>
        <img [src]="newPost.image">
    </div>
    

    <button type="submit">Publish</button>
</form>
