<div id="loginContainer">
    <img id="appImg" src="/assets/images/icon.png">
    <form (ngSubmit)="login()">
        <input type="text" [(ngModel)]="loginForm.username" [ngModelOptions]="{standalone: true}" placeholder="Username...">
        <input type="password" [(ngModel)]="loginForm.password" [ngModelOptions]="{standalone: true}" placeholder="Password...">
        <p *ngIf="error!==''">{{error}}</p>
        <button type="submit">Log in!</button>
    </form>
    <div id="register">
        <p>Not registered?</p>
        <a routerLink="/register">Sign in</a>
    </div>
</div>
