#homeContainer{
    height: 90%;
    font-size: 3.5vw;
    overflow-y: scroll;
}
#newPostIcon{
    position: fixed;
    bottom:12%;
    right: 5%;
    transform: scale(2.5);
    color: rgb(153, 79, 18);
}
#stories{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: burlywood;
    flex-wrap: nowrap;
    //padding:  2% 0;
}
#stories > * {
    margin: 1.5% 1% 1% 1%;
}
#TopBar img{
    width: 15vw;
    height: 15vw;
    min-width: 15vw;
    object-fit: cover;
    -webkit-mask-image: url("/assets/images/huellita.png");
    mask-image: url("/assets/images/huellita.png");
    -webkit-mask-repeat: round;
    mask-repeat: no-repeat; 
}
#stories p{
    width: 15vw;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
a{
    
    text-decoration: none;
    color:black;
}
#stories li{
    list-style-type: none;
}
#TopBar{
    display: flex;
    background-color: burlywood;
    max-width: 100%;
    overflow: auto;
}
#MyStory{
    margin:1.5% 1% 0 1.5%;
    width: 19vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#noSeenImg{
    background: rgb(255,245,95);
    background: radial-gradient(circle, rgba(255,245,95,1) 0%, rgba(199,77,102,1) 100%);
    border-radius: 10px; 
}
#alreadySeen{
    background:transparent;
}