<div id="homeContainer">
    <div id="logo"><p>Petgram</p></div>
    <div id="TopBar">
        <a id="MyStory" routerLink="/newStory">
            <img [src]="user.pic">
            <p>Your story</p>
        </a>
        <div id="stories">
        <!-- <ol class="storyList"> -->
            <li id="noSeen" *ngFor="let story of stories">
                <a [routerLink]="['/stories/'+story.user.username]">
                    <div id="noSeenImg">
                        <img [src]="story.user.pic">
                    </div>
                    <p>{{story.user.username}}</p>
                </a>                
            </li>
            <li id="alreadySeen" *ngFor="let story of storiesAlreadySeen">
                <a [routerLink]="['/stories/'+story.user.username]">
                    <div >
                        <img [src]="story.user.pic">
                    </div>
                    <p>{{story.user.username}}</p>
                </a>                
            </li>
        <!-- </ol> -->
    </div>
    </div>
        
    <a routerLink="/post" id="newPostIcon">
        <mat-icon>add_circle</mat-icon>
    </a>
    <app-post-list></app-post-list>
</div> 
<app-footer></app-footer>
